<%= form_with(model: notification_deliverer, local: true) do |form| %>
  <% if notification_deliverer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification_deliverer.errors.count, "error") %> prohibited this notification_deliverer from being saved:</h2>

      <ul>
        <% notification_deliverer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
